<template>
  <div class="home">
    <div class="container h-50">
      <b-row>
        <b-col>
          <h4 class='green'>How your company is improving</h4>
            <h5>Your current <a href="#" v-b-tooltip title="The standard deviation quantifies the amount of variation in the data points. A lower deviation is better, as the departure and arrive times are spread more evenly.">deviation</a> is <strong>{{ std }}</strong>. You improved by <strong class="improvement">13%</strong> since the time you started!</h5>
          <line-chart :config="parkingLotConfig" v-if="parkingLotConfig" />
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <h4 class='lightblue'>Smoothness of traffic in Bolzano/Bozen</h4>
          <line-chart :config="populationConfig" />
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import LineChart from "@/components/LineChart.vue";
const math = require('mathjs');
const axios = require('axios');

let populationJson = '{"06:07:30":40.6666348474,"06:22:30":46.2369992837,"06:37:30":45.2367134007,"06:52:30":41.2479174789,"07:07:30":37.7101048317,"07:22:30":33.4274007009,"07:37:30":25.030891779,"07:52:30":26.5434611315,"08:07:30":24.0839555488,"08:22:30":23.0770496955,"08:37:30":24.2987660151,"08:52:30":25.9859572828,"09:07:30":29.4547546259,"09:22:30":29.4916656017,"09:37:30":29.0424169198,"09:52:30":30.8106499925,"10:07:30":29.4758526709,"10:22:30":29.4386009777,"10:37:30":29.3433950372,"10:52:30":29.5395248312,"11:07:30":30.0571684975,"11:22:30":30.464208621,"11:37:30":29.0166844818,"11:52:30":30.5096898804,"12:07:30":23.567344433,"12:22:30":29.4835463789,"12:37:30":28.9669567122,"12:52:30":32.5265978108,"13:07:30":31.4900923526,"13:22:30":31.8371475896,"13:37:30":31.7558689227,"13:52:30":29.3265521125,"14:07:30":30.4883666446,"14:22:30":30.9738245168,"14:37:30":31.3866001019,"14:52:30":29.2398508721,"15:07:30":29.6283016544,"15:22:30":30.922894922,"15:37:30":28.8135505859,"15:52:30":31.0911687975,"16:07:30":30.3053842359,"16:22:30":27.5518419235,"16:37:30":25.7518927384,"16:52:30":25.87354686,"17:07:30":22.5545320908,"17:22:30":20.3166873457,"17:37:30":22.1563563701,"17:52:30":26.2973186784,"18:07:30":25.354097582,"18:22:30":29.6743059941,"18:37:30":31.854093507,"18:52:30":33.321220561,"19:07:30":35.2118428992,"19:22:30":38.3594487326,"19:37:30":37.7776404822,"19:52:30":41.1937482682,"20:07:30":40.4058163673,"20:22:30":41.9592143135,"20:37:30":42.8036666369,"20:52:30":44.3125202616,"21:07:30":45.3399715708,"21:22:30":44.9488841498,"21:37:30":38.6667813011,"21:52:30":45.0476194063}'
let populationData = JSON.parse(populationJson);
let datapoints = Object.entries(populationData).map(([key, value]) => (value));
let labels = Object.entries(populationData).map(([key, value]) => (key));

export default {
  name: 'dashboard',
  components: { LineChart },
  data: function() {
    return {
      populationConfig: {
        type: "line",
        data: {
          labels: labels,
          datasets: [{
            label: "Mean speed in city traffic",
            data: datapoints,
            borderColor: 'lightblue',
            backgroundColor: 'rgba(173, 216, 230, 0.4)',
          }]
        },
        options: {
          legend:{display: true,labels:{fontSize:15}},
          responsive: true,
          maintainAspectRatio: false
        }
      },
      parkingLotConfig: null,
      std: NaN
    }
  },
  mounted: function() {
    this.populateParkingLotGraph()
  },
  methods: {
    calcStd(data) {
      let round2 = num => Math.round(num * 100) / 100;
      if(!data) return NaN;
      return round2(math.std(data));
    },

     populateParkingLotGraph() {
      let v = this;

      axios.get("https://pure-bastion-56371.herokuapp.com/api/getParkingData").then(function(response) {
        let data = response.data;
        let datapoints = Object.entries(data).map(([key, value]) => (value));
        console.log(datapoints);
        let labels = Object.entries(data).map(([key, value]) => (key));
        v.std = v.calcStd(datapoints);

        v.parkingLotConfig = {
          type: "line",
          data: {
            labels: labels,
            datasets: [{
              label: "Parking lot entrances and exits",
              data: datapoints,
              borderColor: '#42b983',
              backgroundColor: 'rgba(77, 189, 138, 0.4)',
            }]
          },
          options: {
          legend:{display: true,labels:{fontSize:15}},
            responsive: true,
            maintainAspectRatio: false
          }
        }
      })
    }
  }
}
</script>

<style>
strong.improvement {
  color: #42b983
}

.green {
  color: #42b983
}

.lightblue {
  color: #518fa5
}

.home {
  margin-top: 20px;
}
</style>
