<template>
  <div class="improve">
    <h1>Optimize the time spent commuting by your employees</h1>
    <h3>Learn about:</h3>
    <ul>
      <li> <a href="https://en.wikipedia.org/wiki/Flextime">Flextime</a> </li>
      <li> <a href="https://www.entrepreneur.com/article/313590">Adopt a 6 hours workday</a> </li>
      <li> <a href="https://en.wikipedia.org/wiki/Telecommuting">Telecommuting</a> </li>
    </ul>
  </div>
</template>
