<template>
  <div id="wrapper" style="position: relative; height: 50vh">
    <canvas ref="chartCanvas" class="chart" :width="width" :height="height"></canvas>
  </div>
</template>

<script>
import Chart from "chart.js";

export default {
  name: 'linechart',
  props: {
    config: Object,
    width: {
      type: Number,
      default: 40
    },
    height: {
      type: Number,
      default: 40
    }
  },
  mounted: function() {
    let chartCanvas = this.$refs.chartCanvas;
    console.log(chartCanvas);
    let lineChart = new Chart(chartCanvas.getContext('2d'), this.config);
  }
}
</script>

<style scoped>
</style>
