<template>
  <div id="app">
    <div id="nav">
      <div class="left">
        <h5>Welcome, <strong>Example Company Ltd.!</strong></h5>
      </div>
      <div class="right">
      <router-link to="/">Dashboard</router-link> |
      <router-link to="/improve">How to improve</router-link>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<style lang="less" scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.left {
  float: left;
}

.right {
  float: right
}
</style>
